<a href="https://colab.research.google.com/github/RiedelNicolas/EjerciciosPandas/blob/main/guiaPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
import numpy as np

Guía 1: Pandas


1- Dado el registro de notas de los alumnos de la forma (padrón, materia, nota, fecha). Se pide resolver utilizando Pandas:
Cuál es el promedio general de notas.
Cuál es la nota más alta y la nota más baja registrada durante el año 2019.
Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre.
Cuál es la nota promedio por materia.
Cuál es la nota promedio por padrón.

In [36]:
notas_alumnos = {
        'padron': [1,2,3,4,5,6,7,8,9,10,4],
        'materia': ['am2','algebra','f1','f2','algo1','algo2','algo3','orgacomp','orgadatos','proba','proba'],
        'nota': [1,2,3,4,5,6,7,8,9,10,10],
        'fecha': ['1-1-21','2-2-20','3-3-20','4-4-20','5-5-20','6-6-20','7-7-20','8-8-20','9-9-20','10-10-20','11-10-20'],
}
df_notas_alumnos = pd.DataFrame(notas_alumnos, columns = notas_alumnos.keys())

In [37]:
df = pd.DataFrame(notas_alumnos)

In [38]:
### Promedio general de notas
df['nota'].mean()

5.909090909090909

In [39]:
###nota mas alta y mas baja dell segundo cuatrimestre del 2020
df['fecha'] = pd.to_datetime(df['fecha'])
anio2020 = df[ df['fecha'].dt.year == 2020 ]

In [40]:
print (anio2020['nota'].max() )
print (anio2020['nota'].min() )

10
2

In [41]:
 #Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre
 aprobados = df [df['nota']>=4 ] #primero filtro
 padrones = aprobados.groupby('padron').agg({'nota':'count'})

In [42]:
padrones.rename(columns={'nota' :'cantidad_aprobadas'} )

        cantidad_aprobadas
padron
4                        2
5                        1
6                        1
7                        1
8                        1
9                        1
10                       1

In [43]:
padrones['nota'].nlargest(1) #el que mas aprobo

padron
4    2
Name: nota, dtype: int64

Promedio de notas por materias

In [46]:
 promedio = df.groupby('materia').agg({'nota':'mean'}).rename(columns={'nota' :'promedio'} )

In [47]:
promedio

           promedio
materia
algebra           2
algo1             5
algo2             6
algo3             7
am2               1
f1                3
f2                4
orgacomp          8
orgadatos         9
proba            10

Promedio de notas por padron

In [48]:
 promedio = df.groupby('padron').agg({'nota':'mean'}).rename(columns={'nota' :'promedio'} )
 promedio

        promedio
padron
1              1
2              2
3              3
4              7
5              5
6              6
7              7
8              8
9              9
10            10